
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>PROJECTS</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for project in site.projects %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>{{ project.name }}</h3>
                            <p>{{ project.description }}</p>
                            <p>
                                <a href="{{ project.baseUrl }}/{{ project.path }}" class="btn btn-primary" role="button" data-toggle="modal">Learn More</a>
                                <a href="{{ project.github }}" class="btn btn-default" role="button" data-toggle="modal">
                                    <i class="fa fa-github"></i>View on Github</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>